{% load static %}

<header>
    <nav class="navbar navbar-expand-lg  navbar-light ">

        <div class="container-fluid">


            <a class="navbar-brand" href="/aprovados"><img id="logo" src="{% static 'images/logobrancouea.png' %}"
                    alt="##"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="bi-list"> </i>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav nav justify-content-center">
                    <li class="nav-item" >
                        <a class="nav-link m-2" href="/boletim/" >Criar Boletim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2" href="/aprovados/">Aprovados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2" href="/edit/">Criar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2" href="/rascunhos">Rascunhos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2" href="/pendentes/">Pendentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2" href="/revisao/">Revisão</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2" href="/cancelados">Cancelados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2" href="/boletins_salvos">Boletins Salvos</a>
                    </li>
                    <li>
                        <a class="nav-link m-2" href="/publico/geral">Geral</a>

                    </li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdown-perfil">
                        <i class="bi bi-door-closed-fill" id="user"></i>
                    </button>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="{% url 'deslogar' %}">Sair</a></li>
                    </ul>
                </div>   
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obtém o caminho da página atual
            var currentPage = window.location.pathname;
    
            // Obtém todos os links da navbar
            var navLinks = document.querySelectorAll('.nav-item a');
    
            // Itera sobre cada link na navbar
            navLinks.forEach(function (link) {
                var linkPath = link.getAttribute('href');
    
                // Verifica se o link corresponde à página atual
                if (linkPath === currentPage) {
                    link.classList.add('active'); // Adiciona a classe .active ao link correspondente
                }
            });
        });
    </script>
</header>